@model Sixagen_v2.Equipos_Reparacion

@{
    ViewBag.Title = "Delete";
}

<h3>Estas seguro que deseas borrar el equipo?</h3>

<div>
    <h4>Equipos Reparación</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Equipo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Equipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Problema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Problema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Entrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Entrada)
        </dd>

        <dt>
            Cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.Nombre)
        </dd>

            <dt>
                Empleado Encargado
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Empleados.Nombre)
            </dd>



    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default login100-form-btn" /> 
            
        </div>
        
        @Html.ActionLink("Volver", "IndexA", null, new { @Class = "badge badge-success" })
    }
</div>
